<div class="wrapper">
  <h2>Absence types</h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let absenceType of absenceTypes">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span [ngClass]="{sick:absenceType==AbsenceTypes.SICK, vacation:absenceType==AbsenceTypes.VACATION}"
            class="circle"></span>
          {{absenceType | titlecase}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="absence" *ngFor="let absence of absences[absenceType]">
        <h3>{{absence.title}} <span> {{ absence.daysLeft | daycount}} left</span></h3>
        <p><span>Passed:</span> <span> {{ absence.passed | daycount}}</span></p>
        <p><span>Duration:</span> <span>{{ absence.duration | daycount}}</span></p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
