<header>
  <div class="dateNavigation">
    <div class="monthNavigation">
      <button mat-icon-button (click)="setMonth(-1)">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back_ios"></mat-icon>
      </button>
      <span class="month">{{date | date:'MMMM YYYY'}}</span>

      <button (click)="setMonth(+1)" mat-icon-button>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_forward_ios"></mat-icon>
      </button>

    </div>
    <button (click)="backToToday()" mat-flat-button>Today</button>
  </div>

  <button mat-button [matMenuTriggerFor]="filter">Filter by absence types</button>
  <mat-menu #filter="matMenu">
    <section (click)="$event.stopPropagation()" id="sec" class="filterSection" [formGroup]="toppings">
      <p *ngFor="let type of absenceTypes">
        <mat-checkbox formControlName={{type}}>{{type| titlecase }}</mat-checkbox>
      </p>
    </section>
  </mat-menu>
</header>


<div class="calendar">
  <div class="weekDays" *ngFor="let day of days"> {{day}} </div>
  <div *ngFor="let el of datesInfo" [ngClass]="{notCurrentMonth: !isSameMonth(el.date), today:isToday(el.date)}"
    class="day">
    <span> {{el.date | date:'d' }}</span>
    <p *ngFor="let absence of el.absenceList"
      [ngClass]="{sick:absence.type=='sick', vacation:absence.type=='vacation'}">{{absence.title}}
    </p>
  </div>
</div>
