.absence-title {
  color: rgb(17, 17, 17);
  margin-bottom: 5px;
  font-size: 16px;
  margin-top: 10px;

  &:first-child {
    margin-top: 0px;

  }
}

.wrap {
  display: flex;
  gap: 10px;
  position: relative;

  .mat-mdc-form-field-error {
    position: absolute;
    bottom: 0;
  }
}

.example-full-width {
  width: 100%;
}

.absence-type-form {
  width: 75%;
}

.mat-mdc-dialog-actions {
  justify-content: end;
  margin-right: 5px;
}
