<h1 mat-dialog-title>Absence period</h1>
<div mat-dialog-content>
  <h2 class="absence-title">What type of absence?</h2>
  <mat-form-field [formGroup]="absenceForm" class="absence-type-form" appearance="fill">
    <mat-label>Type of absence</mat-label>
    <mat-select formControlName="absenceType" required [(value)]="selectedType">
      <mat-option [value]="option" *ngFor="let option of types">{{ option| titlecase}}</mat-option>
    </mat-select>

  </mat-form-field>
  <h2 class="absence-title">From - To</h2>

  <div class="wrap">
    <mat-form-field [formGroup]="absenceForm" appearance="fill" class="example-form-field">
      <mat-label>Choose a start date</mat-label>
      <input matInput formControlName="dateStart" [matDatepicker]="datepicker">
      <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>

      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>
    <mat-form-field [formGroup]="absenceForm" appearance="fill" class="example-form-field">
      <mat-label>Choose an end date</mat-label>
      <input matInput formControlName="dateEnd" [matDatepicker]="datepicker2">
      <mat-datepicker-toggle matIconSuffix [for]="datepicker2"></mat-datepicker-toggle>
      <mat-datepicker #datepicker2>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>
    <mat-error *ngIf="absenceForm.hasError('incorrectRange')">IncorrectRange</mat-error>

  </div>
  <h2 class="absence-title">Comment:</h2>
  <form [formGroup]="absenceForm" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Add a comment</mat-label>
      <textarea formControlName="comment" matInput></textarea>
    </mat-form-field>
  </form>
</div>


<div class="action-buttons" mat-dialog-actions>
  <button mat-stroked-button (click)="onClose()" mat-flat-button color="basic">Cancel</button>
  <button [disabled]="isDisabled" mat-button (click)="onRequest()" mat-flat-button color="primary">Request</button>
</div>
