h2 {
  margin-bottom: 2px;
}

.absence-field {
  font-size: 16px;
  font-weight: 400;
  margin-left: 4px;
  color: rgb(22, 22, 22);
}

.mat-label {
  background-color: #ffff;
}

input {
  color: black;
}

.divider1 {
  margin: 20px 0;
}

.divider2 {
  margin-bottom: 20px;
}

.mat-mdc-dialog-actions {
  justify-content: end;
  margin-right: 5px;
}
